.app {
  font-family: sans-serif;
  margin: 50px auto;
}

.app :global(.flex) {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app :global(header) {
  background-color: #143055;
  color: white;
  padding: 5px;
  border-radius: 3px;
}

.app :global(main) {
  padding: 36px 0;
}
